<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>213743447642-r8egao35tk3u4qdu1atemk66qq7ibaig.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.213743447642-r8egao35tk3u4qdu1atemk66qq7ibaig</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>213743447642-a4d9rgitspgu4mep0eiu085san1v30bt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCxmglUfXqDGC4YG0FT2fHfw6bg5kAImaM</string>
	<key>GCM_SENDER_ID</key>
	<string>213743447642</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.proDeals1</string>
	<key>PROJECT_ID</key>
	<string>pro-deals-159d1</string>
	<key>STORAGE_BUCKET</key>
	<string>pro-deals-159d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:213743447642:ios:53861bdbafea1e1efaf263</string>
</dict>
</plist>